// put custom shit here
// remove radial border around social links

.social-links i
  width: 25px
  height: 25px
  line-height: 25px
  margin: 5px 2px
  padding: 0
  color: $white
  font-size: 15px
  z-index: 2
